.App-header {
  background-color: #383e54;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 22px;
  font-size: 11px;
  color: white;
}

.App-header h1 {
  line-height: 0px;
  font-size: 18px;
}
